<template>
    <div class="content">
      <div class="container-fluid">
        <breadcrumb :options="['Menu Permissions']"/>
        <div class="row">
          <div class="col-xl-12">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-4">
                    <ValidationObserver v-slot="{ handleSubmit }">
                      <form class="form-horizontal" @submit.prevent="handleSubmit(onSubmit)">
                        <ValidationProvider name="User" mode="eager" rules="required" v-slot="{ errors }">
                          <div class="form-group">
                            <label for="user">User</label>
                            <div class="input-group">
                              <select class="form-control" :class="{'error-border': errors[0]}" id="user"
                                      v-model="userId" name="user">
                                <option v-for="(user,index) in users" :key="index" :value="user.UserID">
                                  {{ `${user.Name} - (${user.Designation})` }}
                                </option>
                              </select>
                              <!-- <submit-form class="ml-1" name="Search"/> -->
                            </div>
                            <span class="error-message"> {{ errors[0] }}</span>
                          </div>
                        </ValidationProvider>
                        <ValidationProvider name="AppName" mode="eager" rules="required" v-slot="{ errors }">
                          <div class="form-group">
                            <label for="user">App Name</label>
                            <div class="input-group">
                              <select class="form-control" :class="{'error-border': errors[0]}" id="appName"
                                      v-model="appName" name="appName">
                                <option v-for="(appName,index) in appNames" :key="index" :value="appName.AppName">
                                  {{ `${appName.AppName}` }}
                                </option>
                              </select>
                            </div>
                            <span class="error-message"> {{ errors[0] }}</span>
                          </div>
                        </ValidationProvider>
                        <submit-form name="Search"/>
                      </form>
                    </ValidationObserver>
                  </div>
                  <div class="col-12">
                    <menu-tree-view v-if="isLoading" :treeList="treeList" :userId="userId" :appName="appName" :permission="permission"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>
  <script>
  import {bus} from "../../app";
  import {Common} from "../../mixins/common";
  
  export default {
    mixins: [Common],
    data() {
      return {
        users: [],
        appNames: [],
        userId: '',
        appName: '',
        treeList: [],
        permission: [],
        isLoading: false
      }
    },
    created() {
      this.getData();
    },
    methods: {
      onSubmit() {
        this.isLoading = false;
        this.permission = [];

        this.axiosPost('get-user-menu-details', {
          userId: this.userId,
          appName: this.appName,
        }, (response) => {
          this.treeList = response.menu;
          response.usermenu.forEach((item) => {
            this.permission[item] = true;
          })
          this.isLoading = true;
        }, (error) => {
          this.errorNoti(error);
        })
      },
      getData() {
        this.axiosGet('users', (response) => {
          this.users = response.users;
          this.appNames = response.appNames;
        }, (error) => {
          this.errorNoti(error)
        });
      },
    }
  }
  </script>
  