body {
  font-family: "Mulish", sans-serif;
}

.error-message {
  font-size: 12px;
  color: #ec4561;
  margin-top: 5px;
}

.error-border {
  border-color: #ec4561 !important;
}

.submit-button {
  height: 38px !important;
}

.router-link-exact-active {
  color: #b4c9de !important;
  background-color: #383b4e;
}

a {
  color: rgb(52, 144, 220);
}

.modal-title-font {
  font-size: 16px;
}

.select2-container .select2-selection--single {
  height: 35px !important;
  border-color: #ced4da !important;
}
