<template>
  <div class="content">
    <div class="container-fluid">
           <breadcrumb :options="['Import Employee']"></breadcrumb>
      <div>
        <div class="row">
          <div class="col-12 mt-4">
            <div class="card">
              <div class="card-body">
                <div class="alert alert-secondary" role="alert">
                  Please download this sample excel file, <a :href="`${mainOrigin}assets/demo_excel.xlsx`" >Sample.xlsx</a>
                </div>
                <div class="col-md-4 col-12">
                  <p>please upload your excel file here...</p>
                  <div class="form-group">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="document"
                              accept=".xlsx">
                      <label class="custom-file-label text-truncate" for="document">{{ uploadText }}</label>
                    </div>
                  </div>
                </div>
                
                <!-- <button type="button" class="btn btn-primary waves-effect waves-light" @click="importData"
                          :disabled="isSelected">
                    <span v-if="!isLoading">Import Attendance</span>
                    <span v-else> Waiting..</span>
                </button> -->
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import {Common} from "../../mixins/common";
import moment from "moment";
import readXlsxFile from 'read-excel-file'

export default {
  mixins: [Common],
  data: () => ({
    startDate: moment().format('YYYY-MM-DD'),
    isLoading: true,
    showLayout: false,
    isExpandIcon: true,
    uploadText: 'XLSX only',
  }),
  mounted() {
    const input = document.getElementById('document')
    input.addEventListener('change', () => {
        readXlsxFile(input.files[0]).then((rows) => {
            this.uploadText = input.files[0].name
            this.attendances = rows;
            this.isExport = true;
            if (rows.length > 1) {
            this.isSelected = false
            } else {
            this.isSelected = true;
            }
        })
        })
    },
  methods: {
  }
}
</script>

<style lang="scss" scoped>
.no-data {
  text-align: center;
  padding: 10px;
  font-size: 16px;
  color: #cb2d2d;
  font-weight: 600;
  text-transform: uppercase;
}

.card-header {
  background-color: #f7f7f7 !important;
}

.date-layout {
  border: 1px solid #ced4da;
  padding: 4px 10px;
  border-radius: 5px;
}

.date-title-layout {
  border-bottom: 1px solid #ced4da;
  padding-bottom: 5px;
  margin-bottom: 5px;
  text-align: center;
}


</style>
