<template>
  <div class="content">
    <div class="container-fluid">
           <breadcrumb :options="['Dashboard']" />
      <div>
        <div class="row">
          <div class="col-12 mt-4">
            <div class="card">
              <!-- <div class="card-body"> -->
              <div class="dashboard_container">
                <img :src="`${mainOrigin}assets/images/baner.jpeg`" style="width: 100%" height: auto />
                <div class="centered">WELCOME TO User Manager App</div>
              </div>
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import {Common} from "../../mixins/common";
import moment from "moment";
export default {
  mixins: [Common],
  data: () => ({
    startDate: moment().format('YYYY-MM-DD'),
    isLoading: true,
    showLayout: false,
    isExpandIcon: true,
  }),
  mounted() {
  },
  methods: {
  }
}
</script>

<style lang="scss" scoped>
.no-data {
  text-align: center;
  padding: 10px;
  font-size: 16px;
  color: #cb2d2d;
  font-weight: 600;
  text-transform: uppercase;
}

.card-header {
  background-color: #f7f7f7 !important;
}

.date-layout {
  border: 1px solid #ced4da;
  padding: 4px 10px;
  border-radius: 5px;
}

.date-title-layout {
  border-bottom: 1px solid #ced4da;
  padding-bottom: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.dashboard_container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 15%;
  left: 50%;
  color: #333547;
  font-size: 50px;
  font-weight: bold;
  transform: translate(-50%, -50%);
}

</style>
