<template>
    <footer class="footer">
        <strong>Copyright &copy; {{ new Date().getFullYear() }}
            <a href="javascript:" title="ACI Logistics Limited" target="_blank">ACI Logistics Limited.</a></strong>
        Developed by MIS
    </footer>
</template>
