<template>
  <div class="left side-menu">
    <div class="slimscroll-menu" id="remove-scroll">
      <div id="sidebar-menu">
        <ul class="metismenu" id="side-menu">
          <li class="menu-title">Main</li>
          <li>
            <router-link :to="{name:'Dashboard'}" class="waves-effect"><i class="ti-home"></i>
              <span>Home</span></router-link>
          </li>
          <li v-for="(menu,index) in menus" :key="index">
            <router-link :to="menu.Link" class="waves-effect">
              <i :class="menu.MenuIcon"></i>
              <span>{{ menu.MenuName }}
              </span>
            </router-link>
          </li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</template>
<script>
import {Common} from "../../mixins/common";

export default {
  mixins: [Common],
  data() {
    return {
      menus: []
    }
  },
  mounted() {
    this.getData();
  },
  methods: {
    getData() {
      this.axiosGet('app-supporting-data', (response) => {
        this.menus = response.menu;
        console.log(this.menus)
      //  console.log(this.menus)
      //  this.$store.commit('supportingData', response);
        setTimeout(() => {
          $("#side-menu").metisMenu();
        })
      }, (error) => {
        this.errorNoti(error)
      })
    }
  }
}
</script>
